export BUCKET=test-bucket
export OAUTH_HOST=https://keys.um.city/
export OAUTH_PRESHARED=A Preshared key that lets you access Mcity_keys clortho services
export DOMAIN=https://go.um.city/
export SCOPE=Oauth Scope


VUE_APP_MIXPANEL_TOKEN=YOURPROJECTOKENHERE
VUE_APP_OAUTH_KEY=This is acquired from Mcity keys, grab the DEV OAUTH Key for use with localhost.
VUE_APP_HOST=https://go.um.city
VUE_APP_OAUTH_SERVER=https://keys.um.city/
VUE_APP_REDIRECT_URI=http://localhost:8080/authorized
VUE_APP_OAUTH_SCOPE=email+url
VUE_APP_TESTING=false

GITHUB_PACKAGES_TOKEN="Create token at https://github.com/settings/tokens"